@media screen and (min-width:650px) {

    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .data {
        position: absolute;
        left: 30px;
        top: 150px;
        background-color: wheat;
        opacity: 0.8;
        padding: 30px;
        border-radius: 5px;
    }


    .data p {
        background-color: wheat;
    }

    .weather {
        position: absolute;
        right: 30px;
        bottom: 150px;
        background-color: wheat;
        padding: 50px;
        opacity: 0.8;
        border-radius: 5px;
    }

    h3::after {
        content: "🌤️";

    }

    svg {
        display: none;
    }

    footer {
        padding: 20px;
    }


}