* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;

}

header {
    background-color: #E5D9B8;
    font-size: large;
    color: black;
    gap: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;

}


nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;

}

nav a:hover {
    background-color: #E5C3B8;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;



}

figcaption {
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

footer {
    background-color: #E5D9B8;
    text-align: center;
    padding: 20px;
    font-weight: 200;
}

#menu {
    margin-left: auto;
    display: block;
    font-size: 2rem;
    background-color: #E5D9B8;

}

.navigation {
    display: none;
}

.navigation.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.show li {
    display: block;
}

nav {
    background-color: #E5D9B8;
    width: 100%;
}

#menu::before {
    content: "≡";



}

#menu.show::before {
    content: "X";
}